:root { 
--deep_purple_A200_14:#8e33ff14; 
--blue_gray_300_39:#919eab39; 
--blue_A400:#1877f2; 
--black_900_7a:#0000007a; 
--pink_900:#7a0916; 
--green_A700_02:#11a861; 
--green_A700_01:#22c55e; 
--light_green_A700:#49b902; 
--blue_gray_300_33:#919eab33; 
--amber_A700_85:#ffab0085; 
--blue_gray_300_cc:#919eabcc; 
--green_A100:#c8fad6; 
--indigo_900_94:#00376894; 
--black_900_01:#020517; 
--teal_500:#00a76f; 
--black_900_00:#00000000; 
--teal_900:#004b50; 
--deep_orange_A700:#f61415; 
--deep_orange_500_28:#ff563028; 
--green_A700_03:#05bf6c; 
--deep_orange_500:#ff5630; 
--pink_500:#e02d69; 
--blue_gray_900:#212b36; 
--deep_purple_A200:#a259ff; 
--purple_A200:#fb3ee2; 
--cyan_A700:#00b8d9; 
--blue_gray_900_85:#212b3685; 
--deep_orange_100:#fdbab9; 
--purple_300:#cd63c3; 
--cyan_A700_3d:#00b8d93d; 
--lime_300:#d3e368; 
--blue_900:#0a49b2; 
--gray_400:#d6acc1; 
--blue_gray_300_28:#919eab28; 
--blue_gray_100:#c4cdd5; 
--deep_purple_A200_28:#8e33ff28; 
--gray_800:#613c2a; 
--blue_gray_500:#637381; 
--pink_900_94:#7a091694; 
--lime_300_01:#dac17a; 
--indigo_900_03:#1e105f; 
--green_A200_68:#5be49b68; 
--light_green_700_01:#68a50f; 
--indigo_900_01:#27097a; 
--teal_500_28:#00a76f28; 
--indigo_900_02:#361361; 
--amber_A700_6c:#ffab006c; 
--cyan_50:#cafdf5; 
--pink_500_02:#e50e78; 
--pink_500_01:#e43155; 
--black_900_14:#00000014; 
--deep_orange_500_14:#ff563014; 
--blue_gray_300_1e:#919eab1e; 
--blue_600_02:#0d88e3; 
--light_green_100:#d3fcd2; 
--light_blue_600:#02a0d7; 
--red_300:#c35365; 
--deep_purple_700:#5119b7; 
--amber_A700_68:#ffab0068; 
--green_A200:#5be49b; 
--green_600:#4eae30; 
--cyan_A700_68:#00b8d968; 
--deep_purple_300:#a675b7; 
--amber_300_6c:#ffd6666c; 
--teal_400:#3d968f; 
--deep_orange_500_85:#ff563085; 
--purple_300_01:#bf7bd0; 
--purple_A700:#ad1ded; 
--deep_orange_800:#bc620e; 
--red_A400:#ec1348; 
--blue_600_01:#3777e3; 
--deep_purple_A100:#c684ff; 
--green_A700_28:#22c55e28; 
--deep_orange_400:#e87549; 
--lime_800_01:#95a20c; 
--yellow_100:#fff5cc; 
--green_A200_6c:#5be49b6c; 
--teal_A400_01:#3ddfa6; 
--blue_gray_600:#4c8569; 
--orange_900:#b76e00; 
--gray_900:#161c24; 
--red_300_01:#d3706a; 
--amber_300_01:#ffcf63; 
--teal_A200:#61f3f3; 
--gray_100:#f4f6f8; 
--amber_300_02:#ffcf5c; 
--deep_purple_A200_3d:#8e33ff3d; 
--indigo_300:#787ecd; 
--green_A200_01:#48eeb5; 
--teal_A200_68:#61f3f368; 
--blue_gray_300_51:#919eab51; 
--gray_900_3d:#161c243d; 
--blue_400:#569ffc; 
--teal_500_3d:#00a76f3d; 
--blue_gray_300_3d:#919eab3d; 
--teal_700_01:#118d57; 
--deep_orange_A100:#ffac82; 
--black_900_3d:#0000003d; 
--teal_500_77:#00a76f77; 
--light_blue_500:#00aaec; 
--white_A700_94:#ffffff94; 
--light_blue_900:#006c9c; 
--green_500:#34dc39; 
--blue_gray_500_01:#627ea4; 
--green_A700:#00ab55; 
--amber_A700:#ffab00; 
--teal_900_94:#004b5094; 
--deep_orange_A100_68:#ffac8268; 
--white_A700_14:#ffffff14; 
--teal_700:#007867; 
--white_A700_ab:#ffffffab; 
--green_A700_3d:#22c55e3d; 
--deep_orange_300:#ff7262; 
--purple_900:#480d97; 
--deep_purple_A400:#612af2; 
--blue_gray_700:#266770; 
--pink_300:#dd5db4; 
--deep_orange_500_68:#ff563068; 
--amber_A700_3d:#ffab003d; 
--teal_500_6c:#00a76f6c; 
--gray_600:#867a50; 
--blue_700:#1f7fbf; 
--blue_gray_300:#919eab; 
--lime_900_a2:#7a4100a2; 
--lime_900:#7a4100; 
--blue_gray_300_66:#919eab66; 
--amber_300:#ffd666; 
--blue_gray_700_90:#454f5b90; 
--teal_500_68:#00a76f68; 
--yellow_A700:#d4cf0b; 
--amber_300_68:#ffd66668; 
--blue_gray_300_68:#919eab68; 
--indigo_400:#4c71b0; 
--black_900_56:#00000056; 
--blue_gray_300_70:#919eab70; 
--red_A400_01:#f10b29; 
--blue_300:#65bdfa; 
--blue_gray_300_5e:#919eab5e; 
--white_A700:#ffffff; 
--teal_900_01:#065e49; 
--blue_gray_300_5f:#919eab5f; 
--white_A700_9b:#ffffff9b; 
--red_900:#b71d18; 
--light_blue_400:#1abcfe; 
--blue_gray_300_14:#919eab14; 
--deep_purple_100:#d9ccfd; 
--teal_900_a2:#004b50a2; 
--deep_orange_500_3d:#ff56303d; 
--green_A400:#0acf83; 
--lime_900_94:#7a410094; 
--light_blue_800:#007ebb; 
--amber_A700_28:#ffab0028; 
--pink_900_03:#641d4c; 
--cyan_A700_28:#00b8d928; 
--pink_900_01:#830f50; 
--pink_900_02:#7d0614; 
--teal_500_14:#00a76f14; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--light_green_700:#728f2e; 
--gray_900_a2:#161c24a2; 
--indigo_500_01:#3f41cc; 
--blue_gray_800:#2c4b5c; 
--black_900_28:#00000028; 
--deep_purple_A700:#5001d2; 
--purple_600:#a03f81; 
--deep_purple_A200_01:#8e33ff; 
--gray_900_02:#260040; 
--gray_300_85:#dfe3e885; 
--lime_400:#dbe162; 
--blue_gray_400:#68a187; 
--white_A700_a2:#ffffffa2; 
--lime_800:#a19b37; 
--blue_600:#0f82e2; 
--gray_900_01:#4d3508; 
--white_A700_a9:#ffffffa9; 
--amber_200:#fbdf90; 
--blue_gray_900_7e:#212b367e; 
--gray_300:#dfe3e8; 
--orange_300:#f9b552; 
--teal_500_85:#00a76f85; 
--teal_A400:#30ea9d; 
--cyan_A700_14:#00b8d914; 
--white_A700_00:#ffffff00; 
--orange_50:#ffe9d5; 
--white_A700_85:#ffffff85; 
--indigo_900:#003768; 
--blue_400_01:#428dda; 
--indigo_500:#3853b7; 
--white_A700_7a:#ffffff7a; 
}